Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency @babel/core to v7.11.1
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): disable no-invalid-void-type on all tests
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

refactor(eslint-config): move typescript config to bottom
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v9.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: update commitlint usage according to offical doc
  .huskyrc.yml
Due: yarn prettier --write

chore(deps): update dependency eslint to v7.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): allow using testing library's act without await
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(tsconfig): enable incremental build
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs(tsconfig): typescript 4.0.2 does not output when using incremental with declarationDir
  packages/tsconfig/README.md
Due: yarn prettier --write, yarn remark

chore(deps): update dependency @babel/core to v7.11.4
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

docs: update installation guideline
  packages/babel-preset/README.md
  packages/eslint-config/README.md
  packages/prettier-config/README.md
  packages/remark-preset/README.md
  packages/stylelint-config/README.md
  packages/tsconfig/README.md
Due: yarn prettier --write, yarn remark

feat(eslint-config): sort jsx props and prop-types
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: remove react/sort-prop-types as it does not support TS
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat: enforce named data to improve import autocomplete & debug stack trace
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update dependency lint-staged to v10.2.13
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
