Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, remark

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  packages/import-sort-config/yarn.lock
  packages/stylelint-config/yarn.lock
  yarn.lock
Due: none

chore(eslint-config): remove eslint-find-rules
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
Due: yarn prettier --write

feat(babel-preset): support TypeScript 3.7 new syntaxes
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  packages/babel-preset/yarn.lock
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, remark

fix(babel-preset): move presets to plugins
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
Due: yarn prettier --write, remark

chore(deps): update dependency eslint to v6.7.1
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency sort-package-json to v1.24.0
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency eslint to v6.7.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency lint-staged to v9.5.0
  package.json
  yarn.lock
Due: yarn prettier --write

fix(deps): update dependency stylelint-config-prettier to v7
  packages/stylelint-config/package.json
  packages/stylelint-config/yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  packages/import-sort-config/yarn.lock
  packages/remark-preset/yarn.lock
  yarn.lock
Due: none

chore(release): publish
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, remark

chore(deps): update dependency eslint to v6.7.2
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

chore: require nodejs 10
  .circleci/config.yml
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/import-sort-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
Due: yarn prettier --write

chore(deps): update dependency sort-package-json to v1.30.0
  package.json
  yarn.lock
Due: yarn prettier --write

fix(deps): update dependency stylelint-config-prettier to v8
  packages/stylelint-config/package.json
  packages/stylelint-config/yarn.lock
Due: yarn prettier --write

chore(stylelint-config): cleanup duplicated code
  packages/stylelint-config/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/import-sort-config/CHANGELOG.md
  packages/import-sort-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, remark

chore(deps): update dependency sort-package-json to v1.31.0
  package.json
  yarn.lock
Due: yarn prettier --write

fix(eslint-config): allow empty function
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, remark

chore(deps): update dependency eslint to v6.8.0
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

fix(deps): update dependency eslint-plugin-node to v11
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: none

feat(babel-preset): only polyfill when they are used
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

feat(babel-preset): polyfill shipped proposals
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: ((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)
  yarn eslint --fix: any of: *.js
  remark: any of: *.md
