Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(deps): update dependency husky to v4.2.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  packages/remark-preset/yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency sort-package-json to v1.40.0
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  packages/remark-preset/yarn.lock
  packages/stylelint-config/yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v10.0.8
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  packages/remark-preset/yarn.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
Due: none

chore(deps): update dependency lint-staged to v10.0.9
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: support prettier v2 and follow new default config
  package.json
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

style: follow new prettier config
  packages/common-presets-utils/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(stylelint-config): support prettier v2
  packages/stylelint-config/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): support prettier v2
  packages/eslint-config/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency prettier to v2
  packages/eslint-config/package.json
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-react-hooks to v3
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
Due: yarn prettier --write, sort-package-json

chore(eslint-config): update lockfile
  packages/eslint-config/yarn.lock
Due: none

chore(remark-preset): add remark-cli as peer dependency
  packages/remark-preset/package.json
Due: yarn prettier --write, sort-package-json

feat(remark-preset): provide remarkignore as default ignore file
  package.json
  packages/remark-preset/README.md
  packages/remark-preset/remarkignore
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

feat(renovate): group size-limit PRs
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
