Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v17.0.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency typescript to v4.7.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v12.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.17.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v13.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency stylelint-config-standard to v26
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: reenable no-floating-promises for test files
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix: reenable import/named
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

ci: run in node 14.17
  .circleci/config.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: drop node 12 and 17
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-jsdoc to v39
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: update automerge schedule
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

refactor: more readability on no-use-before-define options
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

refactor: use recommended eslint-plugin-import config
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

refactor: use recommended eslint-plugin-react-hooks config
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

fix: replace eslint-plugin-node by eslint-plugin-n
  packages/eslint-config/package.json
  packages/eslint-config/presets/node.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore!: drop eslint 7
  packages/eslint-config/package.json
Due: yarn prettier --write, sort-package-json

chore: remove peerDependencies versions that are not sure if supported
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: remove wrong changelogs
  packages/eslint-config/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
  packages/remark-preset/CHANGELOG.md
  packages/stylelint-config/CHANGELOG.md
Due: yarn prettier --write, yarn remark

chore: do not create new release after updated CHANGELOG.md
  lerna.json
Due: yarn prettier --write

fix: should drop node 17 in version range
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat: avoid unnecessary closing tags
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency stylelint to v14.9.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.18.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): separate type imports which allow certain optimizations within compilers
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

refactor(eslint-config): remove @typescript-eslint/no-unused-vars as it is enabled in recommended preset
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config): reenable @typescript-eslint/restrict-template-expressions
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
