Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): do not allow usage of deprecated code
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(deps): update dependency lerna to v6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): encourage to use JS standard #private over TS private accessibility modifier
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): encourage to use JS standard #private in TSParameterProperty
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat(deps): update dependency stylelint-config-standard to v29
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): add checking on circular dependency and self import
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat!: enforce file extension and use native esm typescript
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  packages/eslint-config/presets/node.js
  packages/eslint-config/presets/react.js
  packages/tsconfig/tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: use node module resolution as node16 does not work with many libraries
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

chore(release): publish
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(jest-preset): support native es modules typescript
  packages/jest-preset/jest-preset.mjs
  packages/jest-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(tsconfig): add default config for ts-node
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

fix(eslint-config): add back support for node 14.17
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: drop nodejs 14.17 and 18.11
  .circleci/config.yml
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/jest-preset/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

feat(eslint-config): prefer node protocol
  .commitlintrc.cjs
  packages/babel-preset/index.js
  packages/common-presets-utils/index.js
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat(eslint-config): disallow builtins to be created without `new` operator
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): does not report error when importing ts files without extension
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat(eslint-config): enable @typescript-eslint/no-unsafe-declaration-merging
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): disallow duplicated value in enum as it is error-prone
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

refactor: use cjs by default to prepare for transiting to es modules
  .prettierrc.cjs
  packages/babel-preset/index.cjs
  packages/babel-preset/package.json
  packages/common-presets-utils/index.cjs
  packages/common-presets-utils/package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.cjs
  packages/eslint-config/presets/browser.cjs
  packages/eslint-config/presets/node.cjs
  packages/eslint-config/presets/react.cjs
  packages/eslint-config/presets/utils/testUtil.cjs
  packages/eslint-config/react.cjs
  packages/eslint-config/react.js
  packages/prettier-config/index.cjs
  packages/prettier-config/package.json
  packages/stylelint-config/index.cjs
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat(eslint-config): require switch-case statements to be exhaustive with union type
  packages/eslint-config/presets/base.cjs
Due: none

refactor(eslint-config): reorder rules
  packages/eslint-config/presets/node.cjs
Due: none

feat(eslint-config): separate type exports which allow certain optimizations within compilers
  packages/eslint-config/presets/base.cjs
Due: none

feat(eslint-config): make sure functions which return a promise will just return a rejected promise
  packages/eslint-config/presets/base.cjs
Due: none

chore(deps): update all dependencies
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

revert(eslint-config): does not report error when importing ts files without extension
  packages/eslint-config/presets/base.cjs
Due: none

feat(eslint-config): prefer explicitly convert type for readability
  packages/eslint-config/presets/base.cjs
Due: none

feat(eslint-config): make sure private class members are in-use
  packages/eslint-config/presets/base.cjs
Due: none

feat(eslint-config): prefer `const` when the variable won't be reassigned
  packages/eslint-config/presets/base.cjs
Due: none

feat(eslint-config): require button type to avoid unexpected form submits
  packages/eslint-config/presets/react.cjs
Due: none

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
