Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, remark

fix(deps): update dependency eslint-plugin-jest to v23
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
Due: yarn prettier --write

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, remark

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: none

feat: create common-presets-utils
  README.md
  packages/common-presets-utils/README.md
  packages/common-presets-utils/index.js
  packages/common-presets-utils/package.json
Due: yarn prettier --write, yarn eslint --fix, remark

chore(release): publish
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
Due: yarn prettier --write, remark

refactor: use @foray1010/common-presets-utils
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  packages/babel-preset/utils.js
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  packages/eslint-config/yarn.lock
Due: yarn prettier --write, yarn eslint --fix

feat: move typescript to peerDependencies
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, remark

fix(babel-preset): remove read-pkg-up
  packages/babel-preset/package.json
Due: yarn prettier --write

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
Due: yarn prettier --write, remark

fix(deps): update dependency stylelint-config-css-modules to v2
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  packages/stylelint-config/package.json
  packages/stylelint-config/yarn.lock
Due: yarn prettier --write

chore(release): publish
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, remark

feat(renovate-config): add `dependencies` label
  packages/renovate-config/package.json
Due: yarn prettier --write

chore(release): publish
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, remark

chore(deps): update dependency sort-package-json to v1.23.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  packages/import-sort-config/yarn.lock
  packages/remark-preset/yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency lerna to v3.18.4
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency prettier to v1.19.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency remark-cli to v7.0.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove support for .babelrc
  packages/prettier-config/index.js
Due: yarn prettier --write, yarn eslint --fix

feat: use 2 tab width for md
  packages/prettier-config/index.js
Due: yarn prettier --write, yarn eslint --fix

docs(babel-preset): suggest use .babelrc.js instead
  packages/babel-preset/README.md
Due: yarn prettier --write, remark

feat(stylelint-config): use idiomatic-css declaration order
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/yarn.lock
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, remark

chore(deps): update dependency lint-staged to v9.4.3
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  packages/stylelint-config/yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency stylelint to v12
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  packages/stylelint-config/package.json
Due: yarn prettier --write

chore(deps): update dependency husky to v3.1.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency lerna to v3.19.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  packages/import-sort-config/yarn.lock
  packages/stylelint-config/yarn.lock
  yarn.lock
Due: none

Path conditions:
  yarn prettier --write: ((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)
  yarn eslint --fix: any of: *.js
  remark: any of: *.md
