Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(deps): update dependency prettier to v2.6.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v14.6.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.12.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix: disable no-await-sync-events for @testing-library/user-event v14
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

feat: enable testing-library/prefer-user-event
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency prettier to v2.6.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update babel monorepo to v7.17.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.13.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v12.3.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v14.7.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v12.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): use jsx-runtime config from react plugin
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

feat: enable testing-library/no-global-regexp-flag-in-query
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

refactor: remove rules defined in latest testing-library recommended config
  packages/eslint-config/package.json
  packages/eslint-config/presets/react.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat: reenable testing-library/no-await-sync-events for fire events only
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: allow unnecessary fragment for single expression
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config): add more rules for jest
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update dependency eslint to v8.14.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v12.4.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v16.2.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
