Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

fix(eslint-config): update dependencies
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-functional to v9
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(tsconfig)!: enforce compatibility with --experimental-strip-types flag
  packages/tsconfig/tsconfig.base.json
Due: yarn prettier --write

fix(deps): update dependency eslint-plugin-unicorn to v9
  .circleci/config.yml
  .node-version
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(tsconfig)!: require nodejs `^20.10.0 || >=22.11.0`
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency stylelint-config-standard to v37
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(stylelint-config)!: require nodejs `^20.10.0 || >=22.11.0`
  packages/stylelint-config/package.json
Due: yarn prettier --write, sort-package-json

chore: use mjs in commitlintrc
  .commitlintrc.mjs
  eslint.config.js
Due: yarn prettier --write, yarn eslint --fix

fix(remark-preset): remove remark-validate-links because of false positives
  packages/remark-preset/index.mjs
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): drop eslint-plugin-functional
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat: migrate to eslint defineConfig utils
  packages/eslint-config/README.md
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/ignores.mjs
  packages/eslint-config/bases/node.mjs
  packages/eslint-config/bases/prettier.mjs
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/index.mjs
  packages/eslint-config/package.json
  packages/eslint-config/types/internal.d.ts
  packages/eslint-config/utils/applyConfig.mjs
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): fix types
  packages/eslint-config/bases/base.mjs
Due: none

revert(remark-preset): remove remark-validate-links because of false positives
  packages/remark-preset/index.mjs
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(remark-preset): remove remark-lint-no-dead-urls because of false positives
  packages/remark-preset/index.mjs
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-unicorn to v58
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-import-resolver-typescript to v4
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): add eslint-plugin-react-compiler
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): add eslint-plugin-jsx-a11y
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  packages/babel-preset/package.json
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/ignores.mjs
  packages/eslint-config/bases/node.mjs
  packages/eslint-config/bases/prettier.mjs
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/index.mjs
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-unicorn to v59
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-react-compiler to rc2
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-unicorn to v60
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/eslint-config/bases/base.mjs
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(deps): update dependency stylelint-config-standard to v39
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(stylelint-config): enforce oklch color
  packages/stylelint-config/index.mjs
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(deps): update dependency eslint-plugin-unicorn to v61
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(deps): update dependency eslint-plugin-react-hooks to v6
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/eslint-config/types/eslint-plugins.d.ts
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
