Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

feat(babel-preset): enable allowDeclareFields in typescript
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  packages/babel-preset/yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat(babel-preset): enable onlyRemoveTypeImports in typescript
  packages/babel-preset/index.js
  packages/babel-preset/package.json
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

fix: disable useBuiltIns for react as cannot use with useSpread
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

feat: useESModules in transform-runtime
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

feat(babel-preset): auto detect min node version if no browsers config
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/index.js
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: make core-js optional for library
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v10.2.7
  package.json
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

Update dependency sort-package-json to v1.44.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): follow @typescript-eslint/eslint-plugin rule changes
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): disable @typescript-eslint/no-unsafe-member-access
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat: add common tsconfig
  README.md
  packages/tsconfig/README.md
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(renovate-config): support @foray1010/tsconfig
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(tsconfig): default only do type checking
  packages/tsconfig/README.md
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, yarn remark

chore(release): publish
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(babel-preset): enable bugfixes flag in preset env
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

docs: fix typo
  packages/eslint-config/README.md
  packages/stylelint-config/README.md
Due: yarn prettier --write, yarn remark

docs: refer to @foray1010/prettier-config on coding styles
  packages/eslint-config/README.md
  packages/stylelint-config/README.md
Due: yarn prettier --write, yarn remark

chore(deps): update dependency lint-staged to v10.2.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lerna to v3.22.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  packages/remark-preset/yarn.lock
  packages/stylelint-config/yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v10.2.10
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: sync tsconfig target with lib
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v10.2.11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
