Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

fix(deps): update dependency typescript-eslint to v8
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor(eslint-config): migrate testing-library to use flat config
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): support all hooks in use-deep-compare
  packages/eslint-config/bases/react.mjs
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): replace eslint-plugin-deprecation by typescript-eslint
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config)!: require eslint v9
  .circleci/config.yml
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-functional to v7
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-import-x to v4
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(eslint-config): ensure all dependencies are compatible with eslint v9
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): fix errors when uses with eslint v9
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(tsconfig)!: turn on noUncheckedSideEffectImports flag
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.base.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(deps): update dependency remark-lint-no-dead-urls to v2
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(deps): update dependency eslint-plugin-unicorn to v56
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-react-hooks to v5
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-testing-library to v7
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-functional to v8
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): forbid ts enum
  packages/eslint-config/bases/base.mjs
Due: none

fix(eslint-config): remove duplicated typescript-eslint rules
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): report unused disable directives and inline configs
  packages/eslint-config/bases/base.mjs
Due: none

chore(deps): replace fast-glob with tinyglobby
  .commitlintrc.cjs
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(tsconfig): enable node18 module
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.base.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(tsconfig)!: drop ts-node config
  packages/tsconfig/tsconfig.base.json
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
