Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

fix(deps): update dependency eslint-plugin-react-hooks to v4
  packages/babel-preset/yarn.lock
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.2.2
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-react-hooks to v4
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint): lint react code using eslint-plugin-testing-library
  packages/eslint-config/package.json
  packages/eslint-config/presets/react.js
  packages/eslint-config/yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore: whitelist files to publish
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/renovate-config/package.json
  packages/stylelint-config/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency sort-package-json to v1.42.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  packages/stylelint-config/yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lerna to v3.21.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
Due: none

feat: use @babel/runtime to reduce bundle size
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  packages/babel-preset/yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v10.2.4
  package.json
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update typescript-eslint monorepo to v3
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  packages/eslint-config/yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore!: drop support for eslint v6 and prettier v1
  packages/eslint-config/package.json
Due: yarn prettier --write, sort-package-json

chore!: drop support for stylelint v11 v12 and prettier v1
  packages/stylelint-config/package.json
Due: yarn prettier --write, sort-package-json

Update dependency lint-staged to v10.2.6
  package.json
  packages/babel-preset/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

Update dependency eslint to v7.1.0
  package.json
  packages/babel-preset/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

Update dependency eslint to v7.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Update dependency lerna to v3.22.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Update dependency sort-package-json to v1.44.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
Due: none

chore(deps): do not use plugins that are included in babel preset env
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  packages/babel-preset/yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(babel-preset): use spread syntax for jsx props
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix
