Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, remark

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
Due: yarn prettier --write, remark

chore(deps): update dependency sort-package-json to v1.35.0
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency lerna to v3.20.2
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  packages/stylelint-config/yarn.lock
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v8.3.4
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

feat: replace import-sort-cli by eslint-plugin-simple-import-sort
  README.md
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  packages/eslint-config/yarn.lock
  packages/import-sort-config/CHANGELOG.md
  packages/import-sort-config/README.md
  packages/import-sort-config/index.js
  packages/import-sort-config/package.json
  packages/import-sort-config/yarn.lock
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn eslint --fix, remark

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, remark

feat(stylelint-config): support stylelint 13
  packages/stylelint-config/package.json
Due: yarn prettier --write

chore(release): publish
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, remark

chore(deps): update dependency sort-package-json to v1.39.0
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @commitlint/cli to v8.3.5
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency husky to v4
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency lint-staged to v10
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency husky to v4.2.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  packages/remark-preset/yarn.lock
  yarn.lock
Due: none

fix(deps): update dependency remark-preset-prettier to ^0.4.0
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  packages/remark-preset/package.json
  packages/remark-preset/yarn.lock
Due: yarn prettier --write

chore(deps): update dependency sort-package-json to v1.39.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v10.0.7
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: none

fix(deps): update dependency stylelint-config-standard to v20
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  packages/stylelint-config/package.json
  packages/stylelint-config/yarn.lock
Due: yarn prettier --write

chore(release): publish
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, remark

Path conditions:
  yarn prettier --write: ((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)
  yarn eslint --fix: any of: *.js
  remark: any of: *.md
