Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7.17.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v4.3.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.18.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v4.3.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: follow renovate latest convention
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-jsdoc to v31
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.19.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.12.13
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.5.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(prettier-config): ignore pnpm-lock.yaml
  packages/prettier-config/prettierignore
Due: none

feat(eslint-config): lint eslint comments
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json
