Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

feat(eslint-config): use inline type imports to avoid duplicate imports
  packages/eslint-config/bases/base.mjs
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): prefer inline exports
  packages/eslint-config/bases/base.mjs
Due: none

refactor: use async readPackageUp
  packages/common-presets-utils/index.mjs
Due: none

feat: enable @typescript-eslint/no-unused-vars
  packages/eslint-config/bases/base.mjs
Due: none

Revert "fix(eslint-config): disable n/prefer-global hacks as they do not work with flat config"
  packages/eslint-config/bases/node.mjs
Due: none

feat(eslint-config): enable n/no-process-exit
  packages/eslint-config/bases/node.mjs
Due: none

feat(eslint-config): enable react/no-object-type-as-default-prop
  packages/eslint-config/bases/react.mjs
Due: none

feat(eslint-config): enable react/jsx-no-leaked-render
  packages/eslint-config/bases/react.mjs
Due: none

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): disable react/jsx-no-leaked-render as it does not recognize boolean type
  packages/eslint-config/bases/react.mjs
Due: none

feat(eslint-config): enable more `prefer-` rules from unicorn plugin
  packages/eslint-config/bases/base.mjs
Due: none

fix(eslint-config): disable unicorn/prefer-spread
  packages/eslint-config/bases/base.mjs
Due: none

feat(eslint-config): enable recommended `no-useless-` rules from unicorn plugin
  packages/eslint-config/bases/base.mjs
Due: none

fix(eslint-config): disable unicorn/prefer-top-level-await
  packages/eslint-config/bases/base.mjs
Due: none

fix(eslint-config): disable unicorn/prefer-query-selector
  packages/eslint-config/bases/base.mjs
Due: none

fix(eslint-config): disable unicorn/prefer-ternary
  packages/eslint-config/bases/base.mjs
Due: none

chore: add back .editorconfig
  .editorconfig
Due: none

chore: update .gitignore
  .gitignore
Due: none

chore: move to yarn v3
  .circleci/config.yml
  .yarnrc.yml
  README.md
  package.json
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

chore: use .node-version to manage development nodejs version
  .node-version
Due: none

fix(eslint-config): remove warning message when uses with typescript v5
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

docs(eslint-config): update eslint config path
  .lintstagedrc.mjs
  eslint.config.js
  package.json
  packages/eslint-config/README.md
Due: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

feat(eslint-config): enable functional/prefer-immutable-types and type-declaration-immutability
  packages/babel-preset/types/babel__helper-plugin-utils.d.ts
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(deps): update dependency eslint-plugin-jsdoc to v43
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency stylelint-config-standard to v33
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore: sync editorconfig
  .editorconfig
Due: none

style: sync husky script styles
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(deps): update dependency eslint-plugin-unicorn to v47
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): remove unused eslint-plugin-jsdoc
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-n to v16
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! fix(deps): update dependency eslint-plugin-jest-dom to v5
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
