Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

feat: sort package.json via prettier
  .lintstagedrc.js
  package.json
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

style: do not use array if only one command in lint-staged
  .lintstagedrc.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update commitlint monorepo to v9.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(babel-preset): use commonjs for testing
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

refactor: use yarn workspaces packages config for lerna
  lerna.json
Due: yarn prettier --write

chore(deps): update dependency @babel/core to v7.10.5
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency remark-cli to v8.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor(babel-preset): move @babel/plugin-proposal-export-namespace-from to @babel/preset-env
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat(remark-preset): skip checking dead urls when offline
  packages/remark-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency @babel/core to v7.11.0
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): supports linting hook dependencies for package `use-deep-compare`
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): add more rules for testing-library
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency eslint to v7.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): do not allow import non-dependencies but allow tests to import devDependencies
  lerna.json
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): allow files outside of src/ to import devDependencies
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config): use the shortest path in import statement
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): allow config rc files to import devDependencies
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update dependency @babel/core to v7.11.1
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
