Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update babel monorepo to v7.16.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: bump node version requirement
  .circleci/config.yml
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-testing-library to v5
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency stylelint-prettier to v2
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-jest to v25
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update typescript-eslint monorepo to v5
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v14
  package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency stylelint to v14
  packages/stylelint-config/package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency eslint to v8
  packages/eslint-config/package.json
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency remark-preset-prettier to v1
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update remark monorepo
  .remarkrc.yml
  package.json
  packages/remark-preset/index.js
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: replace @typescript-eslint/no-unused-vars-experimental by @typescript-eslint/no-unused-vars
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat: use error level for @typescript-eslint/no-unused-vars
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix: disable buggy react/prop-types
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

fix: disable @typescript-eslint/no-unsafe-argument
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix: use bracketSameLine instead of deprecated jsxBracketSameLine
  packages/prettier-config/index.js
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: do not enforce case for id and class
  packages/stylelint-config/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency @babel/runtime to v7.16.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v14.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency stylelint-config-standard to v24
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
