Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(deps): update dependency stylelint to v13.13.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-testing-library to v4.2.0
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: do not pin dependencies
  .renovaterc.json
  packages/eslint-config/package.json
Due: yarn prettier --write, sort-package-json

chore: try fix renovate config errors
  .renovaterc.json
Due: yarn prettier --write

chore(deps): update node.js to v15
  .circleci/config.yml
Due: yarn prettier --write

fix: ensure we are testing with the oldest supported node version in CI
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.26.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: include CHANGELOG.md in release build
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/renovate-config/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

Revert "chore(deps): update circleci/node docker tag to v12.22.1"
  .circleci/config.yml
Due: yarn prettier --write

chore(deps): update dependency @babel/core to v7.14.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v12.1.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.14.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-jsdoc to v34
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.27.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency stylelint-no-unsupported-browser-features to v5
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-jsdoc to v35
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v4.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
