Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

feat(prettier-config): renovaterc and tsconfig should use jsonc format
  packages/prettier-config/index.mjs
Due: none

refactor: format by the latest prettier config
  .renovaterc.json
  packages/babel-preset/README.md
  packages/babel-preset/tsconfig.json
  packages/common-presets-utils/tsconfig.json
  packages/eslint-config/README.md
  packages/eslint-config/tsconfig.json
  packages/jest-preset/README.md
  packages/jest-preset/tsconfig.json
  packages/prettier-config/README.md
  packages/prettier-config/tsconfig.json
  packages/remark-preset/README.md
  packages/renovate-config/README.md
  packages/stylelint-config/README.md
  packages/stylelint-config/tsconfig.json
  packages/tsconfig/README.md
Due: yarn prettier --write, yarn remark

chore(deps): update lint-staged and commitlint to the latest major version
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(stylelint-config)!: require stylelint `^17.11.0`
  package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): bump dependencies semver
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): encourage to use named parameters
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(eslint-config): cleanup unnecessary type files
  packages/eslint-config/types/eslint-plugin-compat.d.ts
  packages/eslint-config/types/eslint-plugin-import-x.d.ts
  packages/eslint-config/types/eslint-plugin-jest-dom.d.ts
  packages/eslint-config/types/eslint-plugin-n.d.ts
  packages/eslint-config/types/eslint-plugin-prettier.d.ts
  packages/eslint-config/types/eslint-plugin-react-hooks.d.ts
  packages/eslint-config/types/eslint-plugin-regexp.d.ts
  packages/eslint-config/types/eslint-plugin-simple-import-sort.d.ts
  packages/eslint-config/types/eslint-plugin-testing-library.d.ts
Due: none

chore(eslint-config): remove unnecessary variables
  packages/eslint-config/constants.mjs
Due: none

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): allow import ts extensions
  packages/eslint-config/bases/base.mjs
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): do not check import extension on packages
  packages/eslint-config/bases/base.mjs
Due: none

chore: cleanup unused eslint-disable comments
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/ignores.mjs
  packages/eslint-config/bases/node.mjs
  packages/eslint-config/bases/prettier.mjs
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/index.mjs
Due: none

chore(deps): update all dependencies
  .node-version
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): import-x/no-extraneous-dependencies should check type imports
  packages/eslint-config/bases/base.mjs
Due: none

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
