Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

fix(eslint-config): allow es2020 globals
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(deps): update dependency stylelint-config-idiomatic-order to v9
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade all dependencies
  package.json
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(jest-preset): ignore hidden files when calculating test coverage
  packages/jest-preset/jest-preset.mjs
Due: none

chore: remove unnecessary dependencies
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/jest-preset/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
Due: yarn prettier --write, sort-package-json

feat(eslint-config): prefer readonly types
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

docs(remark-preset): do not throw error when linting ignored files
  package.json
  packages/remark-preset/README.md
Due: yarn prettier --write, yarn remark, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): forbid unnecessary callback wrapper
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): disable allowAutomaticSingleRunInference
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config): re-enable recommended @typescript-eslint rules
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): disable functional/prefer-tacit
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

refactor(eslint-config): organize cjs/mjs only rules
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): skip nodejs related rules for react
  packages/eslint-config/react.js
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config): do not allow node.js modules in frontend
  packages/eslint-config/presets/browser.js
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config): do not allow unknown global variables
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): better error description when using global Buffer or process
  packages/eslint-config/presets/node.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): allow commonjs globals as we haven't moved to es modules
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): allow webextensions globals in frontend
  packages/eslint-config/presets/browser.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): allow __dirname and __filename in node.js
  packages/eslint-config/presets/node.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): prefer isomorphic global variables
  packages/eslint-config/presets/node.js
Due: yarn prettier --write, yarn eslint --fix

feat(eslint-config): re-enable functional/prefer-tacit
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat(eslint-config): prefer Number static properties over global ones
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(deps): update dependency stylelint-no-unsupported-browser-features to v6.0.1
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): enforce accessibility modifier in constructor in TS
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat(tsconfig): add DOM.Iterable in lib
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

feat(tsconfig): enable exactOptionalPropertyTypes
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

feat(tsconfig): enable noUncheckedIndexedAccess
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

feat: use indexed syntax for accessing undefined fields
  packages/babel-preset/index.js
  packages/common-presets-utils/index.js
  packages/eslint-config/presets/base.js
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
