Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

feat: show warnings on unsupported css based on browserslist
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat: reenable no-descending-specificity since we are not using mixins anymore
  packages/stylelint-config/index.js
Due: yarn prettier --write, yarn eslint --fix

feat: reenable at-rule-no-unknown since we are not using scss anymore
  packages/stylelint-config/index.js
Due: yarn prettier --write, yarn eslint --fix

feat(stylelint-config): disallows colors that are suspiciously close to being identical
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat(eslint-config): lint browser compatibility
  packages/eslint-config/package.json
  packages/eslint-config/presets/browser.js
  packages/eslint-config/presets/react.js
  packages/eslint-config/react.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat(eslint-config): lint JSDoc
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat: avoid using unnecessary `await` as workaround for `not wrapped in act(...)` warnings
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

feat: avoid side effects inside `waitFor`
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): failed to import react preset
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

fix: disable no-descending-specificity as it produces false alarams when use with `:root` selector
  packages/stylelint-config/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): sort export statements
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat: make sure import statements above the others with line break
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix: should require typescript 4.1 instead of 3
  packages/babel-preset/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(tsconfig): enable automatic react runtime
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat: enable forceConsistentCasingInFileNames and skipLibCheck (follow @tsconfig/recommended)
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: remove unused code
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(renovate-config): remove k8s support
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

style: fix grammar mistakes
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

chore: update lint-staged config
  .lintstagedrc.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update dependency prettier to v2.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.14.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.12.9
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use schema for config files
  .commitlintrc.json
  .commitlintrc.yml
  .huskyrc.json
  .huskyrc.yml
  .renovaterc.json
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/renovate-config/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.5.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
