Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

feat(eslint-config): reenable @typescript-eslint/unbound-method
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): use jest/unbound-method for tests
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): allow arrow function in object
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat(tsconfig): enable noImplicitOverride
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(remark-preset): cannot run in node 14.17
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(remark-preset)!: support remark >= 12
  package.json
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

style(prettier-config): explicitly load prettier plugins
  packages/prettier-config/index.js
Due: yarn prettier --write, yarn eslint --fix

chore: use cjs/mjs instead of yml for config files
  .eslintrc.cjs
  .eslintrc.yml
  .lintstagedrc.cjs
  .prettierrc.cjs
  .remarkrc.mjs
  .remarkrc.yml
  packages/babel-preset/README.md
  packages/eslint-config/README.md
  packages/prettier-config/README.md
  packages/remark-preset/README.md
  packages/remark-preset/index.mjs
  packages/remark-preset/package.json
  packages/stylelint-config/README.md
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): do not force react preset to use module
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

docs(eslint-config): use root: true and set tsconfigRootDir in eslintrc
  .eslintrc.cjs
  packages/eslint-config/README.md
Due: yarn prettier --write, yarn remark

chore(remark-preset): upgrade remark-preset-prettier to ^1.0.2
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: populate commitlint scopes by workspaces definition
  .commitlintrc.cjs
  .commitlintrc.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: remove unused ignore patterns
  packages/eslint-config/eslintignore
  packages/prettier-config/prettierignore
  packages/remark-preset/remarkignore
  packages/stylelint-config/stylelintignore
Due: none

fix: import eslint-config-prettier via plugin:prettier/recommended
  packages/eslint-config/presets/base.js
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

fix(stylelint-config): update dependency stylelint-config-standard to v27
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(renovate-config): disable automerge for pin dependencies
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

fix(stylelint-config): update dependency stylelint-config-standard to v28
  package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(jest-preset): initial commit
  README.md
  package.json
  packages/jest-preset/README.md
  packages/jest-preset/jest-preset.mjs
  packages/jest-preset/package.json
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

style(remark-preset): update variable name
  packages/remark-preset/index.mjs
Due: none

chore: access common presets via node_modules in root
  .eslintrc.cjs
  .prettierrc.cjs
  .remarkrc.mjs
  package.json
Due: yarn prettier --write, sort-package-json

docs(tsconfig): add json schema to example tsconfig.json
  packages/tsconfig/README.md
Due: yarn prettier --write, yarn remark

chore: type checking javascript files by typescript
  .eslintrc.cjs
  package.json
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  packages/babel-preset/tsconfig.json
  packages/babel-preset/types/babel__helper-plugin-utils.d.ts
  packages/common-presets-utils/index.js
  packages/common-presets-utils/package.json
  packages/common-presets-utils/tsconfig.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  packages/eslint-config/presets/browser.js
  packages/eslint-config/presets/node.js
  packages/eslint-config/presets/react.js
  packages/eslint-config/tsconfig.json
  packages/jest-preset/jest-preset.mjs
  packages/jest-preset/package.json
  packages/jest-preset/tsconfig.json
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/prettier-config/tsconfig.json
  packages/remark-preset/package.json
  packages/renovate-config/package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/tsconfig.json
  packages/tsconfig/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

fix(eslint-config): disable jsdoc/valid-types
  .eslintrc.cjs
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore: add missing scopes to commitlint
  .commitlintrc.cjs
Due: none

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: sort yarn add command
  packages/eslint-config/README.md
  packages/jest-preset/README.md
  packages/prettier-config/README.md
  packages/remark-preset/README.md
  packages/stylelint-config/README.md
  packages/tsconfig/README.md
Due: yarn prettier --write, yarn remark

docs(jest-preset): fix example config
  packages/jest-preset/README.md
Due: yarn prettier --write, yarn remark

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): allow {} type
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat(jest-preset): support jest v29
  package.json
  packages/jest-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(eslint-config): update eslint-plugin-simple-import-sort to v8
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): explicitly import node.js only built-in modules
  packages/babel-preset/index.js
  packages/eslint-config/presets/base.js
  packages/eslint-config/presets/browser.js
  packages/eslint-config/presets/node.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json
