Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7.8.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update typescript-eslint monorepo to v4
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): only run test related rules on test files
  packages/eslint-config/presets/base.js
  packages/eslint-config/presets/react.js
  packages/eslint-config/presets/utils/testUtil.js
Due: yarn prettier --write, yarn eslint --fix

fix(deps): update eslint-plugin-jest to v24
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v10.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.11.6
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v4.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: generic type does not work with react-hooks/exhaustive-deps
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update commitlint monorepo to v11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.9.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.10.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
