Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency eslint to v7.21.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v5.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: do not pin dev dependencies to avoid releasing new version
  .renovaterc.json
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: remove optional peer dependencies from package.json
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

chore: move all packages peer dependencies to root dev dependencies
  .renovaterc.json
  package.json
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: explicitly throw error when cannot get env targets
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

feat: enable react development mode for test env
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

chore: add commented code for requiring env
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat: add rules by stylelint-config-recommended v4
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): avoid assigning anonymous function to object key
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update babel monorepo to v7.13.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: encourage to use private accessibility modifier
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat: ban @ts-ignore and use @ts-expect-error with descriptions
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

docs: update reason for disabling @typescript-eslint/explicit-module-boundary-types
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat: encourage to check error type before use in catch clauses
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat: prevent unnecessary optional chain
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update dependency eslint to v7.22.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: disable no-unnecessary-condition to prevent false alarms
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update dependency husky to v5.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.23.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.13.14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
