Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

feat(deps): update dependency eslint-plugin-react-hooks to v7
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/package.json
  packages/eslint-config/types/eslint-plugins.d.ts
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): replace deprecated n/shebang with n/hashbang
  packages/eslint-config/bases/node.mjs
Due: none

chore(deps): update all dependencies
  package.json
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/package.json
  packages/eslint-config/types/eslint-plugin-compat.d.ts
  packages/eslint-config/types/eslint-plugin-import-x.d.ts
  packages/eslint-config/types/eslint-plugin-jest-dom.d.ts
  packages/eslint-config/types/eslint-plugin-jsx-a11y.d.ts
  packages/eslint-config/types/eslint-plugin-n.d.ts
  packages/eslint-config/types/eslint-plugin-prettier.d.ts
  packages/eslint-config/types/eslint-plugin-react-hooks.d.ts
  packages/eslint-config/types/eslint-plugin-regexp.d.ts
  packages/eslint-config/types/eslint-plugin-simple-import-sort.d.ts
  packages/eslint-config/types/eslint-plugin-testing-library.d.ts
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat!: require stylelint ^16.25.0
  packages/stylelint-config/package.json
Due: yarn prettier --write, sort-package-json

feat(deps): update dependency eslint-plugin-unicorn to v62
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: require nodejs `^20.19.0 || ^22.12.0 || >=24.11.0`
  .circleci/config.yml
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/jest-preset/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lerna to v9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(deps): update dependency eslint-plugin-jest to v29
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor(tsconfig)!: based on @tsconfig/node20
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.browser.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(jest-preset)!: support jest 30 only
  package.json
  packages/jest-preset/jest-preset.mjs
  packages/jest-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependency ranges
  package.json
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps)!: bump peer dependencies to current version
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): fix cannot load eslint-plugin-react-hooks
  packages/eslint-config/bases/react.mjs
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  packages/eslint-config/bases/base.mjs
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update eslint-plugin-regexp to v3
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(deps): update globals to v17
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update prettier-plugin-packagejson to v3
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(prettier-config): use 4 spaces for markdown indentation
  packages/prettier-config/index.mjs
Due: none

feat(prettier-config): format AI editor rules files
  packages/prettier-config/index.mjs
Due: none

chore(release): publish
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  .node-version
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(renovate-config): set minimumReleaseAge to 7 days
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

feat: update renovate schedule time
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): update eslint-plugin-n to v18 (major)
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): update eslint-plugin-compat to v7 (major)
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): update eslint-plugin-simple-import-sort to v13 (major)
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): update eslint-plugin-unicorn to v64 (major)
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config)!: require eslint `^10.3.0`
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update typescript to v6 (major)
  package.json
  packages/babel-preset/tsconfig.json
  packages/common-presets-utils/tsconfig.json
  packages/eslint-config/tsconfig.json
  packages/jest-preset/tsconfig.json
  packages/prettier-config/tsconfig.json
  packages/stylelint-config/tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps)!: require typescript `^6.0.3`
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: drop node v20 and v25
  .circleci/config.yml
  .node-version
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/jest-preset/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.base.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: support es2024
  packages/eslint-config/bases/base.mjs
  packages/tsconfig/tsconfig.browser.json
Due: yarn prettier --write

refactor(tsconfig): remove dom.iterable as covered by dom in ts v6
  packages/tsconfig/tsconfig.browser.json
Due: yarn prettier --write

refactor(tsconfig)!: exported tsconfig are now in jsonc format
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.browser.json
  packages/tsconfig/tsconfig.library.json
  packages/tsconfig/tsconfig.react.json
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
