Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

test(stylelint-config): sanity check
  .lintstagedrc.mjs
  .stylelintrc.cjs
  package.json
  packages/stylelint-config/__tests__/sanityCheck.css
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(stylelint-config): use mjs
  .stylelintrc.mjs
  packages/stylelint-config/README.md
  packages/stylelint-config/index.mjs
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

fix(stylelint-config): update stylelint-config-standard to v34
  package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update read-pkg-up to v10
  packages/common-presets-utils/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update stylelint-no-unsupported-browser-features to v7
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor(eslint-config): extract common types
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/ignores.mjs
  packages/eslint-config/bases/node.mjs
  packages/eslint-config/bases/prettier.mjs
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/index.mjs
  packages/eslint-config/types/internal.d.ts
  packages/eslint-config/utils/applyConfig.mjs
Due: none

chore(deps): update eslint packages to v8.44.0
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/utils/applyConfig.mjs
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps)!: update prettier to v3
  .prettierrc.cjs
  .prettierrc.mjs
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/types/eslint-plugins.d.ts
  packages/prettier-config/README.md
  packages/prettier-config/index.mjs
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

fix(deps): update eslint-plugin-unicorn to v48
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! fix(deps)!: update prettier to v3
  package.json
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(deps): update ts and functional eslint plugin to v6
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  packages/eslint-config/types/eslint-plugins.d.ts
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(deps): update eslint-config-prettier to v9
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(deps): update dependency eslint-plugin-testing-library to v6
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(tsconfig): use correct module resolution for typescript 5.2.2
  package.json
  packages/eslint-config/bases/base.mjs
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.browser.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore!: require node `^18.12.0 || >=20.9.0`
  .circleci/config.yml
  .node-version
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/jest-preset/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update yarn to v4
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: support es2023
  packages/eslint-config/bases/base.mjs
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.browser.json
Due: yarn prettier --write

fix(deps): update dependency eslint-plugin-unicorn to v49
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/common-presets-utils/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): lint regexp
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor(eslint-config): reduce hard-coded typings
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  packages/eslint-config/types/eslint-plugins.d.ts
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: use regexp instead of string to allow linting by eslint-plugin-regexp
  packages/eslint-config/bases/base.mjs
  packages/jest-preset/jest-preset.mjs
Due: none

feat(jest-preset): ignore type definition files when calculate coverage
  packages/jest-preset/jest-preset.mjs
Due: none

refactor: update css sanity check file path
  packages/stylelint-config/__fixtures__/sanityCheck.css
Due: none

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(prettier-config): ignore typed-css-modules generated files
  packages/prettier-config/prettierignore
Due: none

chore(release): publish
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): enable regexp strict mode
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/utils/applyConfig.mjs
  packages/jest-preset/jest-preset.mjs
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs(eslint-config): update comment for require-unicode-regexp
  packages/eslint-config/bases/base.mjs
Due: none

chore(deps): update all dependencies
  package.json
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: support stylelint v16
  package.json
  packages/stylelint-config/index.mjs
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/node.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
