Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(deps): update dependency typescript to v4.6.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix: allow using async function as event handler in frontend
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v12.3.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.11.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency stylelint-config-css-modules to v4
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @commitlint/cli to v16.2.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency stylelint to v14.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: move to yarn v3
  .circleci/config.yml
  .editorconfig
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

Revert "chore: move to yarn v3"
  .circleci/config.yml
  .editorconfig
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

Revert "chore: move to yarn v3" (#429)
  .circleci/config.yml
  .editorconfig
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

fix(deps): update dependency eslint-plugin-jsdoc to v38
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: migrate to cimg docker image
  .circleci/config.yml
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v12.3.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update babel monorepo to v7.17.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: remove unmaintained stylelint-no-indistinguishable-colors
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(deps): update dependency typescript to v4.6.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
