Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

feat: reenable rules that are incompatible with CHANGELOG.md
  packages/remark-preset/index.js
  packages/remark-preset/remarkignore
Due: yarn prettier --write, yarn eslint --fix

chore: run remark on all markdown files when any markdown files updated
  .lintstagedrc.js
  .lintstagedrc.yml
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

style: use endsWith to replace regex
  .lintstagedrc.js
Due: yarn prettier --write, yarn eslint --fix

fix(deps): update remark monorepo
  packages/babel-preset/yarn.lock
  packages/remark-preset/package.json
  packages/remark-preset/yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.1
  package.json
  packages/babel-preset/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update remark monorepo
  packages/remark-preset/package.json
  packages/remark-preset/yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): lock file maintenance
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency prettier to v2.0.4
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.41.0
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.41.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency husky to v4.2.5
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: create lock file maintenance pr before 7am
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency sort-package-json to v1.42.0
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.42.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.2.2
  package.json
  packages/babel-preset/yarn.lock
  packages/eslint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json
