Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: allow disable eslint rules for whole file without re-enable it in the end of the file
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency husky to v5
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: ignore files under .yarn/
  packages/eslint-config/eslintignore
  packages/prettier-config/prettierignore
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @babel/core to v7.12.16
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.20.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-jsdoc to v32
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.12.17
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: allow title case on file name
  packages/remark-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update commitlint monorepo to v12
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

style(renovate-config): prefer matchPackageNames
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

docs(renovate-config): includ json schema in config file
  packages/renovate-config/README.md
Due: yarn prettier --write, yarn remark

chore(deps): update dependency husky to v5.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.13.1
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v12.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-config-prettier to v8
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! fix(deps): update dependency eslint-config-prettier to v8
  .husky/.gitignore
  packages/eslint-config/presets/base.js
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency @babel/core to v7.13.8
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lerna to v4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
