Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): avoid type imports with side effects
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.cjs
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps)!: update stylelint to v15
  package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: remove dependency on stylelint-config-prettier
  packages/stylelint-config/index.cjs
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(stylelint-config): disable comment-empty-line-before
  packages/stylelint-config/index.cjs
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(stylelint-config): replace idiomatic-order by concentric-order
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(stylelint-config): use correct stylelint-config-concentric-order path
  packages/stylelint-config/index.cjs
Due: none

fix(eslint-config): migrate eslint-plugin-eslint-comments to eslint-community version
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.cjs
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(tsconfig)!: require typescript v5
  package.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(tsconfig): split tsconfig to mutliple files for different scenarios
  packages/babel-preset/tsconfig.json
  packages/common-presets-utils/tsconfig.json
  packages/eslint-config/tsconfig.json
  packages/jest-preset/tsconfig.json
  packages/prettier-config/tsconfig.json
  packages/stylelint-config/tsconfig.json
  packages/tsconfig/README.md
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.frontend.json
  packages/tsconfig/tsconfig.library.json
  packages/tsconfig/tsconfig.react.json
Due: yarn prettier --write, yarn remark

chore(stylelint-config): update stylelint-config-standard to v31
  package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  packages/jest-preset/package.json
  packages/prettier-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: require node `^16.14.0 || >=18.12.0`
  .circleci/config.yml
  package.json
  packages/babel-preset/package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/jest-preset/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

feat: support ES2021
  packages/eslint-config/presets/base.cjs
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.frontend.json
Due: yarn prettier --write

fixup! feat: support ES2021
  packages/eslint-config/presets/base.cjs
Due: none

chore: rename frontend tsconfig to browser
  packages/tsconfig/README.md
  packages/tsconfig/tsconfig.browser.json
  packages/tsconfig/tsconfig.react.json
Due: yarn prettier --write, yarn remark

chore(babel-preset)!: use mjs
  packages/babel-preset/README.md
  packages/babel-preset/index.mjs
  packages/babel-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(babel-preset)!: require BABEL_ENV or NODE_ENV
  packages/babel-preset/index.mjs
Due: none

feat(babel-preset)!: set default dependenciesModules to `esmodules`
  packages/babel-preset/index.mjs
Due: none

feat(eslint-config)!: migrate to eslint flat config and mjs
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  packages/babel-preset/index.mjs
  packages/common-presets-utils/index.mjs
  packages/common-presets-utils/package.json
  packages/eslint-config/README.md
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/files.mjs
  packages/eslint-config/bases/ignores.mjs
  packages/eslint-config/bases/node.mjs
  packages/eslint-config/bases/prettier.mjs
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/constants.mjs
  packages/eslint-config/eslintignore
  packages/eslint-config/index.cjs
  packages/eslint-config/index.mjs
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.cjs
  packages/eslint-config/presets/browser.cjs
  packages/eslint-config/presets/node.cjs
  packages/eslint-config/presets/react.cjs
  packages/eslint-config/react.cjs
  packages/eslint-config/types/eslint-plugins.d.ts
  packages/eslint-config/utils/applyConfig.mjs
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/jest-preset/CHANGELOG.md
  packages/jest-preset/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore: cleanup unused eslint config
  eslint.config.mjs
Due: none

fix(tsconfig): 'isolatedModules' cannot be specified with 'verbatimModuleSyntax'
  packages/tsconfig/tsconfig.base.json
Due: yarn prettier --write

fix(tsconfig): does not work with existing eslint plugins because of multiple extends
  packages/tsconfig/README.md
  packages/tsconfig/tsconfig.browser.json
Due: yarn prettier --write, yarn remark

chore(release): publish
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): fix wrong assumption, `files` only does not filter
  eslint.config.mjs
  packages/eslint-config/README.md
  packages/eslint-config/bases/files.mjs
  packages/eslint-config/constants.mjs
  packages/eslint-config/index.mjs
  packages/eslint-config/utils/applyConfig.mjs
Due: yarn prettier --write, yarn remark

fix(eslint-config): should not use ignores in config, and allow user defined ignores
  packages/eslint-config/README.md
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/constants.mjs
  packages/eslint-config/utils/applyConfig.mjs
Due: yarn prettier --write, yarn remark

fix(eslint-config): disable some eslint-plugin-import rules due to not support flat config
  packages/common-presets-utils/index.mjs
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/prettier.mjs
Due: none

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(eslint-config): errors when using in project without typescript
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
Due: yarn prettier --write, sort-package-json

fix(eslint-config): still have errors when using in project without typescript
  packages/eslint-config/bases/base.mjs
Due: none

fix(eslint-config): disable n/prefer-global hacks as they do not work with flat config
  packages/eslint-config/bases/node.mjs
Due: none

fix(eslint-config): add back @typescript-eslint eslint-recommended rules
  packages/eslint-config/bases/base.mjs
Due: none

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
