Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7.11.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update remark monorepo
  package.json
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat(eslint-config): enable react/jsx-no-useless-fragment
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update dependency @babel/core to v7.12.3
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.4.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(remark-preset): support yaml frontmatter
  packages/remark-preset/index.js
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

fix(babel-preset): do not use esm babel runtime to avoid problem when output cjs build
  packages/babel-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v10.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.12.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.5.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(babel-preset): enable automatic react runtime
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

fix(eslint-config): disable react/react-in-jsx-scope for automatic react runtime
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency eslint to v7.13.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
