Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --resolve-plugins-relative-to=packages/eslint-config --fix

.lintstagedrc.yml:

'*.{json,md,yaml,yml}':
  - 'prettier --write'
  - 'git add'
'*.js':
  - 'prettier --write'
  - 'eslint --resolve-plugins-relative-to=packages/eslint-config --fix'
  - 'git add'

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettierrc/CHANGELOG.md
  packages/prettierrc/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write

docs: document @foray1010/prettierrc
  README.md
  packages/prettierrc/README.md
Due: prettier --write

docs: align eslint-config readme style with prettierrc
  packages/eslint-config/README.md
Due: prettier --write

feat: add default ignore file
  .eslintignore
  .lintstagedrc.yml
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/eslintignore
  packages/prettierrc/README.md
  packages/prettierrc/prettierignore
  packages/stylelint-config/README.md
  packages/stylelint-config/stylelintignore
Due: prettier --write

docs: update example for default eslint script
  package.json
  packages/eslint-config/README.md
Due: prettier --write

chore(deps): update dependency lint-staged to v9.4.2
  package.json
  yarn.lock
Due: prettier --write

feat: create @foray1010/import-sort-config
  README.md
  packages/import-sort-config/README.md
  packages/import-sort-config/index.js
  packages/import-sort-config/package.json
  packages/import-sort-config/yarn.lock
Due: prettier --write, eslint --resolve-plugins-relative-to=packages/eslint-config --fix

chore(release): publish
  packages/import-sort-config/CHANGELOG.md
  packages/import-sort-config/package.json
Due: prettier --write

chore(deps): update dependency lerna to v3.17.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency stylelint to v11.1.1
  packages/stylelint-config/package.json
  packages/stylelint-config/yarn.lock
Due: prettier --write

chore(deps): lock file maintenance
  packages/eslint-config/yarn.lock
  packages/stylelint-config/yarn.lock
  yarn.lock
Due: none

feat(prettier-config): rename to @foray1010/prettier-config
  .prettierrc.js
  README.md
  packages/prettier-config/README.md
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/prettier-config/prettierignore
  packages/prettierrc/CHANGELOG.md
Due: prettier --write, eslint --resolve-plugins-relative-to=packages/eslint-config --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write

feat(prettier-config): treat .babelrc as json format
  packages/prettier-config/index.js
Due: prettier --write, eslint --resolve-plugins-relative-to=packages/eslint-config --fix

feat(renovate-config): detect @foray1010/common-presets monorepo
  packages/renovate-config/package.json
Due: prettier --write

chore(release): publish
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: prettier --write

feat(eslint-config): do not ignore hidden files
  packages/eslint-config/eslintignore
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat(prettier-config): do not ignore circleci & github config files
  packages/prettier-config/prettierignore
Due: none

chore(release): publish
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write

feat(eslint-config): support *.mjs
  packages/eslint-config/presets/base.js
Due: prettier --write, eslint --resolve-plugins-relative-to=packages/eslint-config --fix

feat: lint all hidden files
  packages/eslint-config/eslintignore
  packages/prettier-config/prettierignore
  packages/stylelint-config/stylelintignore
Due: none

feat(renovate-config): create @foray1010/common-presets's pr immediately
  packages/renovate-config/package.json
Due: prettier --write

chore(release): publish
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: prettier --write

chore: do not check test files & yarn.lock changes for publish
  lerna.json
Due: prettier --write

feat: create @foray1010/remark-preset
  .lintstagedrc.yml
  .remarkrc.yml
  README.md
  package.json
  packages/remark-preset/README.md
  packages/remark-preset/index.js
  packages/remark-preset/package.json
  packages/remark-preset/yarn.lock
  packages/renovate-config/package.json
  yarn.lock
Due: prettier --write, eslint --resolve-plugins-relative-to=packages/eslint-config --fix

feat: stricter peerDependencies range
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
  packages/import-sort-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/stylelint-config/package.json
  packages/stylelint-config/yarn.lock
Due: prettier --write

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/import-sort-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write

chore(deps): update dependency husky to v3.0.9
  package.json
  yarn.lock
Due: prettier --write

chore: use .gitignore for remark
  .lintstagedrc.yml
  package.json
Due: prettier --write

chore(deps): update dependency lerna to v3.18.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): lock file maintenance
  packages/eslint-config/yarn.lock
  yarn.lock
Due: none
