Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, remark

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'remark'
  - 'git add'

chore(deps): lock file maintenance
  packages/eslint-config/yarn.lock
  yarn.lock
Due: none

fix(remark-preset): allow _ in md file name & disable frail
  package.json
  packages/remark-preset/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, remark

feat: support packageJson.type & cjs format
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  packages/eslint-config/yarn.lock
Due: yarn prettier --write, yarn eslint --fix

refactor: include extension in import path
  packages/eslint-config/index.js
  packages/eslint-config/react.js
  packages/stylelint-config/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, remark

chore(deps): update dependency lerna to v3.18.3
  package.json
  yarn.lock
Due: yarn prettier --write

chore: apply eslint on cjs
  package.json
  packages/eslint-config/README.md
Due: yarn prettier --write, remark

feat: use eslint-plugin-node
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/presets/base.js
  packages/eslint-config/presets/node.js
  packages/eslint-config/react.js
  packages/eslint-config/yarn.lock
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-config): add browser env to react preset
  packages/eslint-config/presets/react.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, remark

chore: init @foray1010/babel-preset from babel-preset-foray1010
  README.md
  packages/babel-preset/README.md
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  packages/babel-preset/utils.js
  packages/babel-preset/yarn.lock
Due: yarn prettier --write, yarn eslint --fix, remark

fix(deps): pin dependencies
  packages/babel-preset/package.json
  packages/babel-preset/yarn.lock
Due: yarn prettier --write

chore: use sort-package-json
  .lintstagedrc.yml
  package.json
  packages/babel-preset/package.json
  packages/eslint-config/package.json
  packages/import-sort-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/renovate-config/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write

feat: set priority - pin > lockfile maintainence > others
  packages/renovate-config/package.json
Due: yarn prettier --write

feat(renovate-config): extend lockFileMaintenance schedule
  packages/renovate-config/package.json
Due: yarn prettier --write

feat(renovate-config): always use `chore` as commit type
  packages/renovate-config/package.json
Due: yarn prettier --write

fix(prettier-config): explicitly use some options
  packages/prettier-config/index.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/import-sort-config/CHANGELOG.md
  packages/import-sort-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, remark

docs: fix prettier-config link
  README.md
Due: yarn prettier --write, remark

feat(babel-preset): detect dependencies to load related presets/plugins
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  packages/babel-preset/utils.js
  packages/babel-preset/yarn.lock
Due: yarn prettier --write, yarn eslint --fix

style: destructuring read-pkg-up
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix: remove @babel/preset-flow
  packages/babel-preset/package.json
  packages/babel-preset/yarn.lock
Due: yarn prettier --write

refactor: extract typescript config
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

fix(eslint-preset): unpin dependencies
  packages/babel-preset/package.json
  packages/babel-preset/yarn.lock
Due: yarn prettier --write

chore: prepare to publish @foray1010/babel-preset
  packages/babel-preset/package.json
Due: yarn prettier --write

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, remark

docs(babel-preset): remind to install core-js v3
  packages/babel-preset/README.md
Due: yarn prettier --write, remark

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
Due: yarn prettier --write, remark

docs(babel-preset): fix wrong preset name
  packages/babel-preset/README.md
Due: yarn prettier --write, remark

chore(deps): update dependency eslint to v6.6.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency eslint-plugin-jest to v23
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
Due: yarn prettier --write

feat(renovate-config): mark dependencies as `fix`
  packages/renovate-config/package.json
Due: yarn prettier --write

chore(release): publish
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, remark
