Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/node.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-unicorn to v50
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(stylelint-config): update stylelint-config-css-modules to support stylelint v16
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency stylelint-config-standard to v36
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/eslint-config/bases/node.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): prefer promise style when using nodejs modules
  packages/eslint-config/bases/node.mjs
Due: none

chore(stylelint-config)!: require stylelint ^16.2.0
  package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use official lerna schema
  lerna.json
Due: yarn prettier --write

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  packages/babel-preset/index.mjs
  packages/babel-preset/package.json
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/node.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(remark-preset): update remark dependencies
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-unicorn to v53
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  packages/eslint-config/bases/base.mjs
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

refactor(eslint-config): use globals.es2023 although it is the same as es2021
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-compat to v5
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-unicorn to v54
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(tsconfig): set target to es2023
  packages/tsconfig/tsconfig.base.json
Due: yarn prettier --write

refactor(eslint-config): migrate react plugin to use flat config
  packages/eslint-config/bases/react.mjs
  packages/eslint-config/package.json
  packages/eslint-config/types/eslint-plugins.d.ts
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor(eslint-config): migrate prettier plugin to use flat config
  packages/eslint-config/bases/prettier.mjs
  packages/eslint-config/package.json
  packages/eslint-config/types/eslint-plugins.d.ts
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor(eslint-config): migrate jest plugins to use flat config
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor(eslint-config): migrate regexp plugin to use flat config
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor(eslint-config): migrate typescript-eslint to use flat config
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat(eslint-config): migrate eslint plugin from import to import-x
  .prettierrc.mjs
  eslint.config.js
  packages/eslint-config/bases/base.mjs
  packages/eslint-config/bases/browser.mjs
  packages/eslint-config/bases/prettier.mjs
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(deps): update dependency eslint-plugin-unicorn to v55
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(eslint-config): does not work on project without typescript installed
  packages/eslint-config/bases/base.mjs
Due: none

Path conditions:
  yarn prettier --write: (((any of: *.{json,yaml,yml}) or (any of: *.js)) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
