Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency eslint to v7.31.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update babel monorepo to v7.14.8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v11.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v13
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-jsdoc to v36
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v11.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency remark-preset-prettier to ^0.5.0
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.32.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(renovate-config): disable dependency dashboard
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: disable @typescript-eslint/restrict-template-expressions
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: disable @typescript-eslint/restrict-plus-operands
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(deps): update dependency husky to v7.0.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v4.4.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency eslint-plugin-prettier to v4
  packages/eslint-config/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
