Repository foray1010/common-presets: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

feat: use eslint-plugin-jest-dom with recommended config
  packages/eslint-config/package.json
  packages/eslint-config/presets/react.js
  packages/eslint-config/yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

feat: enable node/no-unsupported-features/node-builtins
  packages/eslint-config/presets/node.js
Due: yarn prettier --write, yarn eslint --fix

feat: enable node/no-exports-assign
  packages/eslint-config/presets/node.js
Due: yarn prettier --write, yarn eslint --fix

feat: enable node/no-unpublished-bin
  packages/eslint-config/presets/node.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update commitlint monorepo to v9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use yarn workspaces
  .huskyrc.yml
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/babel-preset/yarn.lock
  packages/common-presets-utils/yarn.lock
  packages/eslint-config/yarn.lock
  packages/remark-preset/yarn.lock
  packages/stylelint-config/yarn.lock
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.3.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: eslint throw error on used variables and types
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat: enforce correct usage of `void` type
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: disable no-invalid-void-type for test files
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

docs: add bugs & repository in package.json
  packages/babel-preset/package.json
Due: yarn prettier --write, sort-package-json

docs: add homepage in package.json
  packages/babel-preset/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: add bugs & homepage & repository in package.json
  packages/common-presets-utils/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/remark-preset/package.json
  packages/renovate-config/package.json
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/common-presets-utils/CHANGELOG.md
  packages/common-presets-utils/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: explan why disable no-invalid-void-type for test files
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat: support seperated tsconfig in monorepo
  packages/eslint-config/presets/base.js
Due: yarn prettier --write, yarn eslint --fix

feat: support ES2020
  packages/eslint-config/presets/base.js
  packages/tsconfig/tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

feat: sync schedule for deps update & lockfile maintainence
  packages/renovate-config/package.json
Due: yarn prettier --write, sort-package-json

chore(release): publish
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @babel/core to v7.10.4
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: validate links
  packages/remark-preset/index.js
  packages/remark-preset/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json

chore: remove unused lerna config
  lerna.json
Due: yarn prettier --write

chore(release): publish
  packages/babel-preset/CHANGELOG.md
  packages/babel-preset/package.json
  packages/remark-preset/CHANGELOG.md
  packages/remark-preset/package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency eslint to v7.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: support export all as namespace
  packages/babel-preset/index.js
  packages/babel-preset/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, sort-package-json
